body {
    background-color: #f6f4c2;
}

.header {
    background-color: #ef5350;
    box-shadow:0 2px 2px rgba(0,0,0,0.2);
    z-index: 100;
    top: 0;
    height: 8rem;
}

.div1 {
    text-align:center;
}

img#logo {
    height: 120px;
}

input[type=submit], button#resetButton {
    background-color: #ef5350;
    color: #ffcb05;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 40px;
}

input[type=submit]:hover, button#resetButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}